<div class="mt-4">
    <form class="container" (ngSubmit)="onSubmit(changeDetailsForm)" #changeDetailsForm="ngForm">
        <div class="card">
            <div class="card-body">
                <h2>Change Password</h2>
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                        <div class="row mt-1 ml-1 mr-1" *ngIf="!detailsSaved">
                            <div class="col-12 alert alert-danger" role="alert">
                                Incorrect user details.
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                        <label for="username">Username</label> <small class="text-danger"> *</small>
                        <div class="input-group-prepend">
                            <span class="input-group-text search-box-radius"> <i class="material-icons">person</i> </span>
                            <input type="text" class="form-control search-icon-radius" id="username"
                                placeholder="Enter Username" ngModel name="username" #username="ngModel" required>
                        </div>
                        <small *ngIf = "!changeDetailsForm.controls['username']?.valid && changeDetailsForm.controls['username']?.touched" class="text-danger">
                            username is required...
                        </small>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                        <label for="email">Email</label><small class="text-danger"> *</small>
                        <div class="input-group-prepend">
                            <span class="input-group-text search-box-radius"> <i class="material-icons">person</i> </span>
                            <input type="text" class="form-control search-icon-radius" id="email"
                                placeholder="Enter Email" ngModel name="email" #email="ngModel" required>
                        </div>
                        <small *ngIf = "!changeDetailsForm.controls['email']?.valid && changeDetailsForm.controls['email']?.touched" class="text-danger">
                            email is required...
                        </small>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                        <label for="password">New Password</label><small class="text-danger"> *</small>
                        <div class="input-group-prepend">
                            <span class="input-group-text search-box-radius"> <i class="material-icons">lock</i> </span>
                            <input type="password" class="form-control search-icon-radius" id="password"
                                placeholder="Enter Password" ngModel name="password" #password="ngModel" required>
                        </div>
                        <small *ngIf = "!changeDetailsForm.controls['password']?.valid && changeDetailsForm.controls['password']?.touched" class="text-danger">
                            password is required...
                        </small>
                    </div>
                </div>
                <div class="form-row m-auto">
                    <button type="submit" id="login" class="mb-2 btn bg-purple text-light btn-block" >Change Password</button>
                </div>
            </div>
        </div>
    </form>
</div>