<div *ngIf = "createdUser">
    <div class="alert alert-success">
        details saved successfully.... redirecting to login page....
        <small class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </small>
    </div>
</div>

<div *ngIf = "errorUser">
    <div class="alert alert-danger">
        user already exists.... click on login to proceed....
    </div>
</div>

<form class="container justify-content-center" [formGroup]="signupForm" (submit)="onSubmitSignupForm()">
    <div class="card">
        <div class="card-body">
            <h2>Register</h2>
            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" placeholder="Enter First Name" id="firstName"
                        formControlName="firstName" required>
                    <div
                        *ngIf="signupForm.controls['firstName']?.invalid && (signupForm.controls['firstName']?.touched || signupForm.controls['firstName']?.dirty)">
                        <small class="text-danger"
                            *ngIf="signupForm.controls['firstName']?.hasError('required') && signupForm.controls['firstName']?.touched">
                            firstName is required...
                        </small>
                        <small class="text-danger"
                            *ngIf="signupForm.controls['firstName']?.hasError('minlength') && signupForm.controls['firstName']?.touched">
                            firstName should have atleast 3 letters...
                        </small>
                        <small class="text-danger"
                            *ngIf="signupForm.controls['firstName']?.hasError('maxlength') && signupForm.controls['firstName']?.touched">
                            firstName should not exceed atleast 20 letters...
                        </small>
                        <small class="text-danger"
                            *ngIf="signupForm.controls['firstName']?.hasError('pattern') && signupForm.controls['firstName']?.touched">
                            firstName should not contain symbols or numerical values...
                        </small>
                    </div>
                </div>
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" placeholder="Enter Last Name" id="lastName"
                        formControlName="lastName">
                    <div
                        *ngIf="signupForm.controls['lastName']?.invalid && (signupForm.controls['lastName']?.touched || signupForm.controls['lastName']?.dirty)">
                        <small class="text-danger"
                            *ngIf="signupForm.controls['lastName']?.hasError('required') && signupForm.controls['lastName']?.touched">
                            lastName is required...
                        </small>
                        <small class="text-danger"
                            *ngIf="signupForm.controls['lastName']?.hasError('minlength') && signupForm.controls['lastName']?.touched">
                            lastName should have atleast 3 letters...
                        </small>
                        <small class="text-danger"
                            *ngIf="signupForm.controls['lastName']?.hasError('maxlength') && signupForm.controls['lastName']?.touched">
                            lastName should not exceed atleast 20 letters...
                        </small>
                        <small class="text-danger"
                            *ngIf="signupForm.controls['lastName']?.hasError('pattern') && signupForm.controls['lastName']?.touched">
                            lastName should not contain symbols or numerical values...
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-12 col-md-6 col-lg-6">
                    <label for="email">Email</label>
                    <div class="input-group-prepend">
                        <span class="input-group-text search-box-radius">@</span>
                        <input type="text" class="form-control search-icon-radius" placeholder="Enter Email" id="email"
                            formControlName="email" required>
                    </div>
                    <div
                        *ngIf="signupForm.controls['email']?.invalid && (signupForm.controls['email']?.touched || signupForm.controls['email']?.dirty)">
                        <small class="text-danger"
                            *ngIf="signupForm.controls['email']?.hasError('required') && signupForm.controls['email']?.touched">
                            email is required...
                        </small>
                        <small class="text-danger"
                            *ngIf="signupForm.controls['email']?.hasError('pattern') && signupForm.controls['email']?.touched">
                            enter valid email address...
                        </small>
                    </div>
                </div>
                <div class="form-group col-sm-/12 col-md-6 col-lg-6">
                    <label for="contactNumber">Mobile Number</label>
                    <input type="text" class="form-control" placeholder="Enter Mobile Number" id="contactNumber"
                        formControlName="contactNumber">
                    <div
                        *ngIf="signupForm.controls['contactNumber']?.invalid && (signupForm.controls['contactNumber']?.touched || signupForm.controls['contactNumber']?.dirty)">
                        <small class="text-danger"
                            *ngIf="signupForm.controls['contactNumber']?.hasError('required') && signupForm.controls['contactNumber']?.touched">
                            contactNumber is required...
                        </small>
                        <small class="text-danger"
                            *ngIf="signupForm.controls['contactNumber']?.hasError('maxlength') && signupForm.controls['contactNumber']?.touched">
                            enter a valid contactNumber...
                        </small>
                        <small class="text-danger"
                            *ngIf="signupForm.controls['contactNumber']?.hasError('pattern') && signupForm.controls['contactNumber']?.touched">
                            contactNumber should not contain letters...
                        </small>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <label for="username">Username</label>
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group-prepend">
                        <span class="input-group-text search-box-radius"> <i class="material-icons">person</i> </span>
                        <input type="input-group-text" class="form-control search-icon-radius"
                            placeholder="Enter Username" id="username" formControlName="username" required>
                    </div>
                    <div
                            *ngIf="signupForm.controls['username']?.invalid && (signupForm.controls['username']?.touched || signupForm.controls['username']?.dirty)">
                            <small class="text-danger"
                                *ngIf="signupForm.controls['username']?.hasError('required') && signupForm.controls['username']?.touched">
                                username is required...
                            </small>
                            <small class="text-danger"
                                *ngIf="signupForm.controls['username']?.hasError('maxlength') && signupForm.controls['username']?.touched">
                                username not exceed 40 characters..
                            </small>
                        </div>
                </div>
            </div>

            <div class="form-row">
                <label for="username">Password</label>
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group-prepend">
                        <span class="input-group-text search-box-radius"> <i class="material-icons">lock</i> </span>
                        <input type="password" class="form-control search-icon-radius" placeholder="Enter Password"
                            id="Password" formControlName="password">
                    </div>
                    <div
                            *ngIf="signupForm.controls['password']?.invalid && (signupForm.controls['password']?.touched || signupForm.controls['password']?.dirty)">
                            <small class="text-danger"
                                *ngIf="signupForm.controls['password']?.hasError('required') && signupForm.controls['password']?.touched">
                                password is required...
                            </small>
                        </div>
                </div>
            </div>

            <div class="form-row">
                <label for="confirmpassword">Confirm Password</label>
                <div class="form-group col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group-prepend">
                        <span class="input-group-text search-box-radius"> <i class="material-icons">lock</i> </span>
                        <input type="password" class="form-control search-icon-radius"
                            placeholder="Enter Confirm Password" id="confirmpassword" formControlName="confirmpassword">
                    </div>
                    <small class="text-danger" *ngIf="isConfirmPasswordValid()">
                        <div> Passwords must match</div>
                    </small>
                </div>
            </div>

            <div class="form-row"> 
                <button type="submit" [disabled] = "!signupForm.valid || isConfirmPasswordValid()" class="btn bg-purple text-light">Register</button>
                <p class="m-auto bold"><a routerLink="/login">Already have an account?</a></p>
            </div>
        </div>
    </div>
</form>