<div *ngIf="!posting && !posted" class="container-fluid ml-3 mb-5">
    <form [formGroup]=" addPostForm" (submit)="onSubmitForm()">
        <div class="card">
            <div class="card-body">
                <h4>
                    Add Post
                </h4>
                <div class="form-group">
                    <label for="name">Message</label>
                    <textarea type="textarea" id="postMessage" class="form-control" name="postMessage"
                        formControlName="postMessage" required> </textarea>
                    <small *ngIf = "!addPostForm.valid && addPostForm.touched" class="text-danger">
                        message required...
                    </small>
                </div>
                <div class="form-group">
                    <label for="image">hasTag</label>
                    <input type="text" class="form-control" formControlName="hasTag" id="hasTag" name="hasTag">
                </div>
                <button class="btn bg-purple text-light" [disabled]="!addPostForm.valid" type="submit">Post</button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="posting" class="alert alert-secondary mr-3">
    posting......
    <div class="spinner-border loading-icon" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngIf="posted" class="alert alert-success mr-3">
    posted successfully.... 
   <a href="" routerLink="/user-posts">click here</a>
    to view your posts... 
</div>